* {
    background-color:#0c0d0f;   
}
navbar {
text-decoration: none;
color: white;
padding-left: 370px;
font: 1.2rem "Fira Sans", sans-serif;
font-weight: bold;
font-size:x-large;
}
img.logo {
    height: 100px;
    padding-left: 10px;
}
h1{
  background: linear-gradient(to bottom,#aecef5, #314e7a);
  -webkit-background-clip: text; /* For Webkit-based browsers (Chrome, Safari) */
  background-clip: text;         /* For modern browsers */
  color: transparent;            /* Make the text itself transparent so that the background shows through */
   font-size: 70px;
   padding-left: 230px;
   padding-top: 30px;
   font-family: 'Fantasy', sans-serif;
}
orbiting{
    color:white;
    font-size: 25px;
    padding-left: 235px;
}
div.paragraph{
    font-size:20px;
    color: white;
    width: 550px;
    height: 100px;
    padding-left: 235px;
    text-align: justify;
}
img.rmalogo{
    float: right;
}
